In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("chat.txt", header=None, error_bad_lines=False, encoding='utf8')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.head()

,0,1,2,3
0,[06/11/23,2:35:30‚ÄØPM] Deepika Nokia ‚ô•Ô∏è: ‚ÄéMessages and ...,not even WhatsApp,can read or listen to them.
1,[06/11/23,2:35:30‚ÄØPM] Swetha Veeraragavan: Hi üòÅ,NaN,NaN
2,[06/11/23,2:37:26‚ÄØPM] Deepika Nokia ‚ô•Ô∏è: Hi swe,NaN,NaN
3,[06/11/23,2:46:23‚ÄØPM] Swetha Veeraragavan: Does she came?,NaN,NaN
4,[06/11/23,2:50:49‚ÄØPM] Deepika Nokia ‚ô•Ô∏è: Ss swe,NaN,NaN

### Preprocessing

In [4]:
# remove 1st row
df = df.drop(0)
df.head()

           0                                                 1    2    3
1  [06/11/23             2:35:30‚ÄØPM] Swetha Veeraragavan: Hi üòÅ  NaN  NaN
2  [06/11/23             2:37:26‚ÄØPM] Deepika  Nokia ‚ô•Ô∏è: Hi swe  NaN  NaN
3  [06/11/23   2:46:23‚ÄØPM] Swetha Veeraragavan: Does she came?  NaN  NaN
4  [06/11/23             2:50:49‚ÄØPM] Deepika  Nokia ‚ô•Ô∏è: Ss swe  NaN  NaN
5  [06/11/23              2:51:25‚ÄØPM] Swetha Veeraragavan: Okk  NaN  NaN

In [5]:
df.columns = ['Date', 'Chat', 'not even WhatsApp', 'can read or listen to them']
df.head()

,Date,Chat,not even WhatsApp,can read or listen to them
1,[06/11/23,2:35:30‚ÄØPM] Swetha Veeraragavan: Hi üòÅ,NaN,NaN
2,[06/11/23,2:37:26‚ÄØPM] Deepika Nokia ‚ô•Ô∏è: Hi swe,NaN,NaN
3,[06/11/23,2:46:23‚ÄØPM] Swetha Veeraragavan: Does she came?,NaN,NaN
4,[06/11/23,2:50:49‚ÄØPM] Deepika Nokia ‚ô•Ô∏è: Ss swe,NaN,NaN
5,[06/11/23,2:51:25‚ÄØPM] Swetha Veeraragavan: Okk,NaN,NaN

In [7]:
df = df.drop(['not even WhatsApp','can read or listen to them'], axis=1)
df.head()

        Date                                              Chat
1  [06/11/23             2:35:30‚ÄØPM] Swetha Veeraragavan: Hi üòÅ
2  [06/11/23             2:37:26‚ÄØPM] Deepika  Nokia ‚ô•Ô∏è: Hi swe
3  [06/11/23   2:46:23‚ÄØPM] Swetha Veeraragavan: Does she came?
4  [06/11/23             2:50:49‚ÄØPM] Deepika  Nokia ‚ô•Ô∏è: Ss swe
5  [06/11/23              2:51:25‚ÄØPM] Swetha Veeraragavan: Okk

In [9]:
# convert chat col into 3 columns - time, name, msg..

# Extract time
Message = df['Chat'].str.split("]", n=1, expand=True) # n=1 and expand=True (take 1st value)
Message

                 0                                       1
1       2:35:30‚ÄØPM               Swetha Veeraragavan: Hi üòÅ
2       2:37:26‚ÄØPM               Deepika  Nokia ‚ô•Ô∏è: Hi swe
3       2:46:23‚ÄØPM     Swetha Veeraragavan: Does she came?
4       2:50:49‚ÄØPM               Deepika  Nokia ‚ô•Ô∏è: Ss swe
5       2:51:25‚ÄØPM                Swetha Veeraragavan: Okk
...            ...                                     ...
2795   12:20:02‚ÄØPM          Deepika  Nokia ‚ô•Ô∏è: Vanakam swe
2796   12:20:02‚ÄØPM                   Deepika  Nokia ‚ô•Ô∏è: Gm
2797   12:20:05‚ÄØPM            Deepika  Nokia ‚ô•Ô∏è: Take rest
2798   12:53:04‚ÄØPM           Swetha Veeraragavan: Gm deeps
2799   12:53:11‚ÄØPM   Swetha Veeraragavan: sunday plan enna

[2799 rows x 2 columns]

In [10]:
# Attach time to df
df['Time'] = Message[0]
df.head()

        Date                                              Chat         Time
1  [06/11/23             2:35:30‚ÄØPM] Swetha Veeraragavan: Hi üòÅ   2:35:30‚ÄØPM
2  [06/11/23             2:37:26‚ÄØPM] Deepika  Nokia ‚ô•Ô∏è: Hi swe   2:37:26‚ÄØPM
3  [06/11/23   2:46:23‚ÄØPM] Swetha Veeraragavan: Does she came?   2:46:23‚ÄØPM
4  [06/11/23             2:50:49‚ÄØPM] Deepika  Nokia ‚ô•Ô∏è: Ss swe   2:50:49‚ÄØPM
5  [06/11/23              2:51:25‚ÄØPM] Swetha Veeraragavan: Okk   2:51:25‚ÄØPM

In [16]:
# Splitting name and chat from Message
Message_name = Message[1].str.split(":", n=1, expand=True)
Message_name.head()

                      0                1
1   Swetha Veeraragavan             Hi üòÅ
2     Deepika  Nokia ‚ô•Ô∏è           Hi swe
3   Swetha Veeraragavan   Does she came?
4     Deepika  Nokia ‚ô•Ô∏è           Ss swe
5   Swetha Veeraragavan              Okk

In [17]:
# Attaching to df
df['Name'] = Message_name[0]
df.head()

        Date             Chat         Time                  Name
1  [06/11/23             Hi üòÅ   2:35:30‚ÄØPM   Swetha Veeraragavan
2  [06/11/23           Hi swe   2:37:26‚ÄØPM     Deepika  Nokia ‚ô•Ô∏è
3  [06/11/23   Does she came?   2:46:23‚ÄØPM   Swetha Veeraragavan
4  [06/11/23           Ss swe   2:50:49‚ÄØPM     Deepika  Nokia ‚ô•Ô∏è
5  [06/11/23              Okk   2:51:25‚ÄØPM   Swetha Veeraragavan

In [18]:
# Attaching chat
df['Chat'] = Message_name[1]
df.head()

        Date             Chat         Time                  Name
1  [06/11/23             Hi üòÅ   2:35:30‚ÄØPM   Swetha Veeraragavan
2  [06/11/23           Hi swe   2:37:26‚ÄØPM     Deepika  Nokia ‚ô•Ô∏è
3  [06/11/23   Does she came?   2:46:23‚ÄØPM   Swetha Veeraragavan
4  [06/11/23           Ss swe   2:50:49‚ÄØPM     Deepika  Nokia ‚ô•Ô∏è
5  [06/11/23              Okk   2:51:25‚ÄØPM   Swetha Veeraragavan

In [19]:
# rearranging the columns in df
df = df[["Date", "Time", "Name", "Chat"]]
df.head()

        Date         Time                  Name             Chat
1  [06/11/23   2:35:30‚ÄØPM   Swetha Veeraragavan             Hi üòÅ
2  [06/11/23   2:37:26‚ÄØPM     Deepika  Nokia ‚ô•Ô∏è           Hi swe
3  [06/11/23   2:46:23‚ÄØPM   Swetha Veeraragavan   Does she came?
4  [06/11/23   2:50:49‚ÄØPM     Deepika  Nokia ‚ô•Ô∏è           Ss swe
5  [06/11/23   2:51:25‚ÄØPM   Swetha Veeraragavan              Okk

In [22]:
# remove '[' in Date col
Message1 = df['Date'].str.split("[", n=1,expand=True)
Message1.head()

df["Date"] = Message1[1]
df.head()

       Date         Time                  Name             Chat
1  06/11/23   2:35:30‚ÄØPM   Swetha Veeraragavan             Hi üòÅ
2  06/11/23   2:37:26‚ÄØPM     Deepika  Nokia ‚ô•Ô∏è           Hi swe
3  06/11/23   2:46:23‚ÄØPM   Swetha Veeraragavan   Does she came?
4  06/11/23   2:50:49‚ÄØPM     Deepika  Nokia ‚ô•Ô∏è           Ss swe
5  06/11/23   2:51:25‚ÄØPM   Swetha Veeraragavan              Okk

### Sentimental analysis

In [23]:
# nltk -> natural lang toolkit
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [25]:
dataset = df
dataset.count()

Date    2799
Time    2799
Name    2799
Chat    2799
dtype: int64

In [26]:
dataset.dropna(inplace=True)
dataset.count()

Date    2799
Time    2799
Name    2799
Chat    2799
dtype: int64

In [30]:
# sid = SentimentIntensityAnalyzer()

# got error,  Resource vader_lexicon not found. So used below method
import nltk
nltk.downloader.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\sweth\AppData\Roaming\nltk_data...

True

In [31]:
sid = SentimentIntensityAnalyzer()

In [32]:
senti = sid.polarity_scores(dataset['Chat'][4])
senti

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [33]:
senti['compound'] # compound -> consoledated result of neg, neu, pos

0.0

In [45]:
def sentimentalAnalysis(data, columnname):
    # downloading vader_lexicon for process
    import matplotlib.pyplot as plt
    import seaborn as sns
    # Importing necessary package
    from nltk.sentiment.vader import SentimentIntensityAnalyzer
    import nltk
    nltk.downloader.download('vader_lexicon')
    sid = SentimentIntensityAnalyzer()
    
    # Removing null entries
    data.dropna(inplace=True)
    
    # Checing for comments
    # senti = sid.polarity_scores(dataset['Chat'][4])
    
    # Creating respective column
    data['scores'] = data[columnname].apply(lambda commentText: sid.polarity_scores(commentText)) # .apply() -> apply the process for all rows
    data['compound'] = data['scores'].apply(lambda score_dict: score_dict['compound'])
    data['Negative'] = data['scores'].apply(lambda score_dict: score_dict['neg'])
    data['Positive'] = data['scores'].apply(lambda score_dict: score_dict['pos'])
    data['Neutral'] = data['scores'].apply(lambda score_dict: score_dict['neu'])
    
    # Creating final pos, neg using compound score
    data['comp_score'] = data['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')
    plt.clf()
    # comp = sns.countplot(x='comp_score', hue='Name', data=data, palette='magma')
    # comp.figure.savefif("data_charts.png")
    
    # checking how many pos, neg
    posneg = pd.DataFrame(data['comp_score'].value_counts())
    return posneg, data

In [46]:
pos, dataSenti = sentimentalAnalysis(dataset, columnname='Chat')
dataSenti

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\sweth\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

,Date,Time,Name,Chat,scores,compound,Negative,Positive,Neutral,comp_score
1,06/11/23,2:35:30‚ÄØPM,Swetha Veeraragavan,Hi üòÅ,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
2,06/11/23,2:37:26‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Hi swe,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
3,06/11/23,2:46:23‚ÄØPM,Swetha Veeraragavan,Does she came?,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
4,06/11/23,2:50:49‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Ss swe,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
5,06/11/23,2:51:25‚ÄØPM,Swetha Veeraragavan,Okk,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
...,...,...,...,...,...,...,...,...,...,...
2795,23/02/25,12:20:02‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Vanakam swe,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
2796,23/02/25,12:20:02‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Gm,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
2797,23/02/25,12:20:05‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Take rest,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
2798,23/02/25,12:53:04‚ÄØPM,Swetha Veeraragavan,Gm deeps,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos
2799,23/02/25,12:53:11‚ÄØPM,Swetha Veeraragavan,sunday plan enna,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos

In [47]:
pos

     comp_score
pos        2696
neg         103

### Topic modeling

#### 1. Using TF-TDF vectorization

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [49]:
# preprocessing
tfidf = TfidfVectorizer(max_df=0.95, min_df=2, stop_words='english')
dtm=tfidf.fit_transform(df["Chat"]) # will create model and with same input, it will predict

#### Using NMF

In [52]:
# topic modeling using NMF
from sklearn.decomposition import NMF
nmf_model = NMF(n_components=5, random_state=42)
nmf_model.fit(dtm)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\decomposition\_nmf.py:312: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(("The 'init' value, when 'init=None' and "

NMF(n_components=5, random_state=42)

In [53]:
for index, topic in enumerate(nmf_model.components_):
    results = ([tfidf.get_feature_names()[i] for i in topic.argsort()[-10:]]) # get 10 from each topic, if need to remove few stop_words - refer internet
    print(results) # result is unsupervised

['ss', 'ok', 'dhan', 'super', 'paravala', 'illa', 'ada', 'ama', 'okk', 'swe']
['nan', 'andha', 'sonna', 'idhu', 'bye', 'audio', 'video', 'sticker', 'image', 'omitted']
['irundhu', 'irundhuchu', 'issue', 'issues', 'ivangaluku', 'irundha', 'yum', 'deeps', 'swe', 'vanakam']
['super', 'hey', 'dhan', 'ss', 'oh', 'apdiya', 'ohkk', 'kk', 'ama', 'deeps']
['issue', 'issues', 'dress', 'vandhruven', 'vangiten', 'deeps', 'swr', 'sww', 'swe', 'gm']

In [58]:
topic_results = nmf_model.transform(dtm)
df["Topic_using_NMF"] = topic_results.argmax(axis=1)

In [59]:
df["Topic_using_NMF"].value_counts()

3    1466
0     949
1     182
2     113
4      89
Name: Topic_using_NMF, dtype: int64

In [65]:
df

,Date,Time,Name,Chat,scores,compound,Negative,Positive,Neutral,comp_score,Topic_using_NMF
1,06/11/23,2:35:30‚ÄØPM,Swetha Veeraragavan,Hi üòÅ,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0
2,06/11/23,2:37:26‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Hi swe,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0
3,06/11/23,2:46:23‚ÄØPM,Swetha Veeraragavan,Does she came?,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0
4,06/11/23,2:50:49‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Ss swe,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0
5,06/11/23,2:51:25‚ÄØPM,Swetha Veeraragavan,Okk,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0
...,...,...,...,...,...,...,...,...,...,...,...
2795,23/02/25,12:20:02‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Vanakam swe,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,2
2796,23/02/25,12:20:02‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Gm,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,4
2797,23/02/25,12:20:05‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Take rest,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,3
2798,23/02/25,12:53:04‚ÄØPM,Swetha Veeraragavan,Gm deeps,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,4
2799,23/02/25,12:53:11‚ÄØPM,Swetha Veeraragavan,sunday plan enna,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,3

#### Using LDA (LatentDirichletAllocation)

In [68]:
# topic modelling using LDA
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.datasets import make_multilabel_classification
# This produces a feature matrix of token counts, similar to what
# CountVectorizer would produce on text.
X, _ = make_multilabel_classification(random_state=0)
lda = LatentDirichletAllocation(n_components=5, random_state=0)
lda.fit(dtm)

LatentDirichletAllocation(n_components=5, random_state=0)

In [69]:
lda.transform(dtm)

array([[0.10000171, 0.10000217, 0.10000151, 0.59999318, 0.10000143],
       [0.09070749, 0.08876352, 0.08776746, 0.64363348, 0.08912805],
       [0.2       , 0.2       , 0.2       , 0.2       , 0.2       ],
       ...,
       [0.59999147, 0.10000279, 0.10000203, 0.10000186, 0.10000185],
       [0.08597173, 0.65770512, 0.08513792, 0.08573817, 0.08544706],
       [0.0742226 , 0.0740231 , 0.70373682, 0.07408185, 0.07393563]])

In [70]:
df["Topic_using_LDA"] = topic_results.argmax(axis=1)
df["Topic_using_LDA"].value_counts()

3    1466
0     949
1     182
2     113
4      89
Name: Topic_using_LDA, dtype: int64

In [71]:
df

,Date,Time,Name,Chat,scores,compound,Negative,Positive,Neutral,comp_score,Topic_using_NMF,Topic_using_LDA
1,06/11/23,2:35:30‚ÄØPM,Swetha Veeraragavan,Hi üòÅ,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0,0
2,06/11/23,2:37:26‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Hi swe,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0,0
3,06/11/23,2:46:23‚ÄØPM,Swetha Veeraragavan,Does she came?,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0,0
4,06/11/23,2:50:49‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Ss swe,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0,0
5,06/11/23,2:51:25‚ÄØPM,Swetha Veeraragavan,Okk,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2795,23/02/25,12:20:02‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Vanakam swe,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,2,2
2796,23/02/25,12:20:02‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Gm,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,4,4
2797,23/02/25,12:20:05‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Take rest,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,3,3
2798,23/02/25,12:53:04‚ÄØPM,Swetha Veeraragavan,Gm deeps,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,4,4
2799,23/02/25,12:53:11‚ÄØPM,Swetha Veeraragavan,sunday plan enna,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,3,3

#### 2. Using Countervectorizer

In [74]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(stop_words='english')
dtm=vectorizer.fit_transform(df["Chat"])

In [75]:
# topic modeling using NMF
from sklearn.decomposition import NMF
nmf_model = NMF(n_components=5, random_state=42)
nmf_model.fit(dtm)

topic_results = nmf_model.transform(dtm)
df["Topic_using_countervector"] = topic_results.argmax(axis=1)
df["Topic_using_countervector"].value_counts()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\decomposition\_nmf.py:312: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(("The 'init' value, when 'init=None' and "

0    944
3    807
1    753
2    182
4    113
Name: Topic_using_countervector, dtype: int64

In [76]:
df

,Date,Time,Name,Chat,scores,compound,Negative,Positive,Neutral,comp_score,Topic_using_NMF,Topic_using_LDA,Topic_using_countervector
1,06/11/23,2:35:30‚ÄØPM,Swetha Veeraragavan,Hi üòÅ,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0,0,0
2,06/11/23,2:37:26‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Hi swe,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0,0,0
3,06/11/23,2:46:23‚ÄØPM,Swetha Veeraragavan,Does she came?,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0,0,0
4,06/11/23,2:50:49‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Ss swe,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0,0,0
5,06/11/23,2:51:25‚ÄØPM,Swetha Veeraragavan,Okk,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,23/02/25,12:20:02‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Vanakam swe,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,2,2,4
2796,23/02/25,12:20:02‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Gm,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,4,4,0
2797,23/02/25,12:20:05‚ÄØPM,Deepika Nokia ‚ô•Ô∏è,Take rest,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,3,3,1
2798,23/02/25,12:53:04‚ÄØPM,Swetha Veeraragavan,Gm deeps,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,4,4,1
2799,23/02/25,12:53:11‚ÄØPM,Swetha Veeraragavan,sunday plan enna,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,0.0,0.0,1.0,pos,3,3,3

#### 3. Using  HashingVectorizer

In [78]:
from sklearn.feature_extraction.text import HashingVectorizer
vectorizer = HashingVectorizer(n_features=2**4, stop_words='english')
dtm=vectorizer.fit_transform(df["Chat"])

In [79]:
# topic modeling using NMF
from sklearn.decomposition import NMF
nmf_model = NMF(n_components=5, random_state=42)
nmf_model.fit(dtm)

ValueError: Negative values in data passed to NMF (input X)

In [ ]:
topic_results = nmf_model.transform(dtm)
df["Topic_using_hashvector"] = topic_results.argmax(axis=1)
df["Topic_using_hashvector"].value_counts()

In [ ]:
df